/target
/target-mlir
/docs/book
/web/pkg
/web/src/examples.ts
/web/node_modules
/web/dist
.DS_Store
*.ll
*.mlir
*.bc
*.o
*.prism_rt.c
/a.out
/models/.lake
/models/fixtures/*.json
/docs/src/pkg
/public
/result
/result-*
/dist
/.direnv
